/* Reset e fonte básica */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(to bottom right, #e0f0ff, #ffffff);
  color: #072b4e;
}

/* Cabeçalho fixo */
header {
  position: fixed;
  width: 100%;
  padding: 15px 20px;
  background: linear-gradient(to right, #063261, #008bd1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
}

.logo {
  font-size: clamp(18px, 4vw, 24px);
  color: white;
  font-weight: bold;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.menu ul li a:hover {
  color: #e0f0ff;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 20px 40px;
  text-align: center;
  background: linear-gradient(to bottom right, #cce6ff, #ffffff);
}

.hero-content h1 {
  font-size: clamp(24px, 5vw, 48px);
  color: #003366;
}

.hero-content p {
  font-size: clamp(14px, 2.5vw, 20px);
  margin: 20px 0;
}

.btn {
  background: #074486;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 13px;
  transition: background 0.3s;
  display: inline-block;
  font-size: clamp(14px, 2.5vw, 16px);
}

.btn:hover {
  background: #0069d3;
}

/* Responsivo */
@media (max-width: 768px) {
  .menu ul {
    flex-direction: column;
    background: linear-gradient(to bottom right, #063261, #008bd1);
    position: absolute;
    top: 70px;
    right: 0;
    width: 220px;
    display: none;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }

  .menu ul li {
    padding: 10px 20px;
  }

  .menu ul li a {
    display: block;
    width: 100%;
    color: white;
    font-weight: 500;
    padding: 0,5px 0;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
  }

  .menu ul li a:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #e0f0ff;
  }

  .menu ul.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}


@media (max-width: 480px) {
  .hero {
    padding-top: 80px;
  }
  .btn {
    padding: 10px 20px;
  }
}

@media (max-width: 350px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Destacar página atual na barra/menu */
.menu ul li a.active {
  background: white;
  border-radius:6px;
  color: #063261;
  padding: 8px 8px;  /* aumenta o espaço interno */
  font-size: 18px;     /* aumenta o tamanho do texto */
  font-weight: bold;   /* deixa mais destacado */
}

.iconPole {
  position: absolute;
  left: 0;
}